# Node modules
/node_modules
/frontend/node_modules
/api/node_modules

# Environment variables
.env
frontend/.env
api/.env

# Build folder
/frontend/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*